@page
@{ Layout = null; }

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Adhésion Fresh & Wild</title>
    <meta content="Mangez frais, mangez bio !" name="description">
    <meta content="AMAP, bio, nourriture, santé" name="keywords">

    <!-- Template Main CSS File -->
    <link href="~/css/adhesion.css" rel="stylesheet">

</head>

<body>

    <div>
        <p>
            <center>
                <br />
                <br />
                <br />
                <br />
                <br />
                Fresh & Wild vous remercie ! Pour finaliser votre adhésion, veuillez régler votre cotisation annuelle par chèque à l'adresse :<br />
                <br />
                Fresh & Wild<br />
                3 rue Danton<br />
                92240 Malakoff<br />
                <br />
                Une fois votre cotisation payée, vous recevrez un mail et vous pourrez dès lors vous connecter sur notre site et choisir un abonnement.<br />
                <br />
                <button type="button" id="termBtn" value="Fermer" onclick="window.open('', '_self'); window.close();">Fermer</button>
            </center>
        </p>
    </div>

</body>

</html>
