@page
@{ Layout = null; }

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Adhésion Fresh & Wild</title>
    <meta content="Mangez frais, mangez bio !" name="description">
    <meta content="AMAP, bio, nourriture, santé" name="keywords">

    <!-- Template Main CSS File -->
    <link href="~/css/adhesion.css" rel="stylesheet">

</head>

<body>

    <div>
        <p>
            <center>
                <br />
                <br />
                <br />
                Fresh & Wild vous remercie !
                <br />
                Votre commande est enregistrée et sera traitée dans les meilleurs délais.
                <br />
                Au plaisir de vous revoir lors de la distribution !
                <br />
                <button type="button" id="termBtn" value="Fermer">Fermer</button>
            </center>
        </p>
    </div>

    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript" src="~/js/MyScript.js"></script>

</body>

</html>