@page
@model FreshAndWild2.Views.Activite.AddActivity2Model
eshAndWild2.Models.Activite

@{ Layout = "_LayoutDuSite";

}


<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>AddActivite Fresh & Wild</title>
    <meta content="Mangez frais, mangez bio !" name="description">
    <meta content="AMAP, bio, nourriture, santé" name="keywords">

    <!-- Template Main CSS File -->
    <link href="~/css/AddActivite.css" rel="stylesheet">



</head>

