@{ Layout = "_LayoutAdmin";

}
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h2>Administration</h2>

        </div>
    </div>
</section>
<section id="services" class="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box iconbox-blue">
                    <div class="icon">
                        <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">

                        </svg>
                        <i class=""></i>
                    </div>
                    <img src="/img/Adherent.jpeg" , style="width: 60%">
                    <h4><a asp-area="" asp-controller="Admin" asp-action="GererAdherents"> Adhérents</a></h4>

                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box iconbox-blue">
                    <div class="icon">
                        <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">

                        </svg>
                        <i class=""></i>
                    </div>
                    <img src="/img/produit.jpeg" , style="width: 60%">
                    <h4><a asp-area="" asp-controller="Admin" asp-action="GererProduits"> Produits</a></h4>

                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box iconbox-blue">
                    <div class="icon">
                        <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">

                        </svg>
                        <i class=""></i>
                    </div>
                    <img src="/img/communaute.jpeg" , style="width: 60%">
                    <h4><a asp-area="" asp-controller="Admin" asp-action="ActiviteVue"> Communauté</a></h4>

                </div>
            </div>
           

        </div>
    </div>
</section>
            
