@{
    Layout = "_LayoutDuSite";
    ViewBag.title = "abonnement";
}

@*<!DOCTYPE html>*@
<body>

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2 class=ABO>Nos Formules</h2>
                <ol>
                    <li><a href="index.html">Acceuil</a></li>
                    <li>Nos Formules</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- <section class=" inner-page">
                    <div class="container">
                    </div>
        </section>

        <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container">

            <div class="section-title">
                <h2>ABONNEMENTS DE PANIERS</h2>
                <p>Des formules d'abonnement qui vous ressemblent !</p>
            </div>

            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">Tout</li>
                        <li data-filter=".filter-app">Vegetalien</li>
                        <li data-filter=".filter-card">Fruitier</li>
                        <li data-filter=".filter-web">Complet</li>
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container">

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="~/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Formule Veggie Solo</h4>
                            <p>Convient pour 1 personne. Environ 2,5kg</p>
                            <p>Saison 2021</p>
                            <p>Potiron, tomates, poivrons, ognons, batavia, pommes de terre, haricots, courgettes.</p>
                            <div class="portfolio-links">
                                <a href="~/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery"
                                   class="portfolio-lightbox" title="Une variété de produits locaux biologique directement de chez vos producteur préférés:
                                    -Marc (78)
                                    -Emilie (78)
                                    - Yves (91)
                                    Contenu du panier: Pomme de terre Allians, (Saint-Rémy-Les-Chevreuses), Tomates (d’Ile-de-France), salade (d’Ile-de-France), courge potimarron (Les Fourches)."><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"></a>
                            </div>
                        </div>
                    </div>
                    <h5>
                        Veggie Solo 12,50€/Semaine
                        <p>
                            <a href="/panier/AjouterAuPanier/1">S'abonner</a>
                        </p>
                    </h5>
                </div>


                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="~/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Formule Greedy Solo</h4>
                            <p>Convient pour 1 personne. Environ 2,5kg</p>
                            <p>Saison 2021</p>
                            <p>Fromage, raisins, pommes, poires, pain complet, courge potimarron, tomates, ognons, pommes de terre</p>
                            <div class="portfolio-links">
                                <a href="~/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery"
                                   class="portfolio-lightbox" title="Une variété de produits locaux biologique directement de chez vos producteur préférés:
                -Bernard (77)
                -Benjamin (91)
                - Danielle (60)
                Contenu du panier: Fromage de chèvre, Raisins (d’ile-de France), Pommes Grany Smith (Seine et Marne), Poires Conférence(Seine et Marne), Pain complet (d’Ile-de-France), courge potimarron (Les Fourches), Tomates (d’Ile-de-France), Ognons (Oise), Pomme de terres Allians (Saint-Remy-Les-Chevreuses)"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"></a>
                            </div>
                        </div>
                    </div>
                    <h5>
                        Greedy Solo 17,90€/semaine
                        <p>
                            <a href="/Panier/AjouterAuPanier/2">S'abonner</a>
                        </p>
                    </h5>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="~/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Formule Melange Duo</h4>
                            <p>Convient pour 2 personnes. Environ 4kg</p>
                            <p>Saison 2021</p>
                            <p>Asperges, raisins, pommes, champignons, carottes, pain complet, Laitue, tomates, ognons, pommes de terre</p>

                            <div class="portfolio-links">
                                <a href="~/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery"
                                   class="portfolio-lightbox" title="BLablablablabablabbala bio"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"></a>
                            </div>
                        </div>
                    </div>
                    <h5>
                        Melange Duo 22,90€/semaine
                        <p>
                            <a href="/Panier/AjouterAuPanier/3">S'abonner</a>
                        </p>
                    </h5>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="~/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Formule Fruity Solo</h4>
                            <p>Convient pour 1 personne. Environ 2,5kg</p>
                            <p>Saison 2021</p>
                            <p>Poires, raisins, pommes, prunes, ananas, abricots, bananes, oranges, pamplemousse, fraises</p>
                            <div class="portfolio-links">
                                <a href="~/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery"
                                   class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"></a>
                            </div>
                        </div>
                    </div>
                    <h5>
                        Fruity Solo 12,90€/semaine
                        <p>
                            <a href="/Panier/AjouterAuPanier/4">S'abonner</a>
                        </p>
                    </h5>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="~/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Formule Greedy Duo</h4>
                            <p>Convient pour 2 personnes. Environ 4kg</p>
                            <p>Saison 2021</p>
                            <p>Fromage, raisins, cornichons, olives, amandes, pain complet, potiron, tomates, ognons, pommes de terre</p>
                            <div class="portfolio-links">
                                <a href="~/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery"
                                   class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"></a>
                            </div>
                        </div>
                    </div>
                    <h5>
                        Greedy Duo 22,90€/semaine
                        <p>
                            <a href="/Panier/AjouterAuPanier/5">S'abonner</a>
                        </p>
                    </h5>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="~/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Formule Melange Famille</h4>
                            <p>Convient pour 4 personnes. Environ 6,5kg</p>
                            <p>Saison 2021</p>
                            <p>Pastèque, raisins, poivrons, carottes, fraises, choux fleur, broccoli, tomates, ognons, pommes de terre</p>
                            <div class="portfolio-links">
                                <a href="~/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery"
                                   class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"></a>
                            </div>
                        </div>
                    </div>
                    <h5>
                        Melange Famille 26€/semaine
                        <p>
                            <a href="/Panier/AjouterAuPanier/6">S'abonner</a>
                        </p>
                    </h5>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="~/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Formule Fruity Duo</h4>
                            <>Convient pour 2 personnes. Environ 4Kg</>
                            <p>Saison 2021</p>
                            <p>Peches, mures, pommes, poires, ananas, bananes, groseilles</p>
                            <div class="portfolio-links">
                                <a href="~/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery"
                                   class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"></a>
                            </div>
                        </div>
                    </div>
                    <h5>
                        Fruity Duo 22,90€/semaine
                        <p>
                            <a href="/Panier/AjouterAuPanier/7">S'abonner</a>
                        </p>
                    </h5>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="~/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Formule Fruity Famille</h4>
                            <p>Convient pour 4 personnes. Environ 6,5kg</p>
                            <p>Saison 2021</p>
                            <p>Citrons, kiwis, oranges, pamplemousse, Mûres, </p>
                            <div class="portfolio-links">
                                <a href="~/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery"
                                   class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"></a>
                            </div>
                        </div>
                    </div>
                    <h5>
                        Fruity Famille 24,90€/semaine
                        <p>
                            <a href="/Panier/AjouterAuPanier/8">S'abonner</a>
                        </p>
                    </h5>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="~/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Formule Greedy Famille</h4>
                            <p>Convient pour 4 personnes. Environ 2,5kg</p>
                            <p>Saison 2021</p>
                            <p>Fromage, raisins, tomates cerises, figues, groseilles, pain complet</p>
                            <div class="portfolio-links">
                                <a href="~/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery"
                                   class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"></a>
                            </div>
                        </div>
                    </div>
                    <h5>
                        Greedy Famille 27,90€/Semaine
                        <p>
                            <a href="/Panier/AjouterAuPanier/9">S'abonner</a>
                        </p>
                    </h5>
                </div>
            </div>
        </div>
    </section>
</body>